@use 'base/variable' as v;

.alert {
    padding: calc(v.$space / 4);
    color: v.$white;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;
    &.error {
        background-color: v.$red;
    }
    &.success {
        background-color: v.$green;
    }
}

