@use 'variable' as v;
@use 'base/mixins' as m;
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    //scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
body {
    min-height: 100%;
    @include m.tablet {
        height: 100%;
    }
    display: flex;
    flex-direction: column;
    background-color: v.$white;
    color: v.$darkgray;
    font-family: v.$font_principal;
    font-size: 1.6rem;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.main-content {
    padding: 0rem 2rem;
    @include m.tablet {
        padding: 2rem 5rem;
    }
    min-height: 100vh;
    display: flex;
    
    align-items: center;
}
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    
}
main, section,footer,header {
    scroll-snap-align: top;
    @include m.tablet {
        scroll-snap-align: center;
        
    }
}
a {
    text-decoration: none;
    color: v.$darkgray !important;
}
p,h1,h2,h4,span {
    color: v.$darkgray !important;
}
img {
    max-width: 100%;
}
fieldset {
    border-color: rgba($color: #000000, $alpha: 0.3);
    margin: 1rem 0;
}
.floating-div {
    position: fixed;
    top: 1.5%;
    left: 1.5%;
    right: 1.5%;
    bottom: 1.5%;
    width: 97%;
    height: 97%;
    background-color: #fff;
    z-index: 9999;
}
input:not([type="submit"]), textarea, select {
    padding: 1rem;
    display: block;
    width: 100%;
    //background-color: v.$white;
    border: 1px solid v.$gray;
    border-radius: 1rem;
    //margin-bottom: 1rem;
}
.btn-orange {
    background-color: v.$red !important;
}
.btn-green {
    background-color: v.$green !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


    td {
        padding: 0.5rem;
    }
    button {
        &:hover {
            cursor: pointer;
        }
    }
    .button  {
        color: white !important;
    }
