// Fuentes
$font_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$tel: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blue: #0da6f3;
$red: #cb0000;
$green:rgb(152, 195, 58);
$black: #1a1b15;
$darkgray: #333333;
$white: #FFFFFF;
$gray: #e1e1e1;

$space: 5rem;

// Fuentes
$slim: 300;
$regular : 400;
$bold: 700;
$bold-black: 900