@use 'base/variable' as v;

.appoitments {
    list-style: none;
    padding: 0;
    li {
        padding: 1rem;
        border-top: 1px solid v.$white;
        p {
            font-weight: v.$bold;
            color: v.$blue;
        }
        span,
        .service {
            font-weight: v.$regular;
            color: v.$white;
        }
        &:hover {
            background-color: rgba($color: #4242421e, $alpha: 0.1);
        }
    }
    
}
.services {
    @extend .appoitments;
    .actions {
        margin: 0;
        
    }
    .button,
    .button-delete {
        margin: 0;
    }
}